<nav class="navbar navbar-dark bg-dark align-middle">
  <%= link_to 'Test Guru Project', root_path, class: 'navbar-brand' %>
  <span class="navbar-text text-light">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> Guru!
        <div class="btn-group ml-3">
          <button class="btn btn-secondary btn-md dropdown-toggle pt-1 pb-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administrator Menu
          </button>
          <div class="dropdown-menu dropdown-menu-right admin-dropdown-menu pt-1 pb-1">
            <%= link_to 'Tests', admin_tests_path, class: "dropdown-item", style: "text-align : center" %>
            <%= link_to 'Badges', admin_badges_path, class: "dropdown-item", style: "text-align : center" %>
            <%= link_to 'Gists', admin_gists_path, class: "dropdown-item", style: "text-align : center" %>            
            <%= link_to 'Exit',
                  destroy_user_session_path,
                  method: :delete,
                  data: { confirm: 'Are you sure?'},
                  class: "dropdown-item",
                  style: "text-align : center" %>
          </div>
        </div>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> | 
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
  </span>  
</nav>