<h3>
  <%= @test_passage.test.title %> (level <%= @test_passage.test.level %>) test passing
</h3>
<p>
  Question <%= @test_passage.test.questions.size - @test_passage.remaining_questions.count %>/<%= @test_passage.test.questions.size %>
</p>
<b>
  <%= @test_passage.current_question.body %>
</b>
<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <table>
        <tr>
          <td>
            <%= b.check_box id: "answers_ids_#{b.object.id}" %>
          </td>
          <td>
            <%= b.label %>
          </td>
        </tr>
      </table>
    </p>
  <% end %>
  <%= form.submit 'Next' %>
<% end %>
