<p class='nav user'>
  <%= link_to 'Test Guru Project', root_path %> | 
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> Guru! | 
        <%= link_to 'Exit',
                  destroy_user_session_path,
                  method: :delete,
                  data: { confirm: 'Are you sure?'} %>
      
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> | 
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
</p>