<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
<p class="mb-0">
  <%= form.text_area :body, id: :answer_body, rows: 4, cols: 30 %>
</p>
<table>
  <tr class="align-middle">
    <td>
      <%= form.check_box :correct, id: :answer_correct %>
    </td>
    <td>
      <%= form.label :correct, class: "mb-0 pl-2 pb-1"%>
    </td>
  </tr>
</table>
<p class="mb-1">
  <%= form.submit %><br>
</p>
<% end %>
