<tr>
  <td class="pl-2 align-middle">
    <%= content_tag :span, test.title,
                           class: "test-title",
                           data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center align-middle">
    <%= test.category.title %>
  </td>
  <td class="text-center align-middle">
    <%= test.level %>
  </td>
  <td class="text-center align-middle">
    <%= test.questions.count %>
  </td>
  <td class="text-center align-middle">
    <%= test.time_limit %>
  </td>
  <td class="text-center align-middle">
    <%= link_to t('.show'), admin_test_path(test) %>
  </td>
  <td class="text-center align-middle">
    <%= link_to t('.edit'), edit_admin_test_path(test),
                            data: {test_id: test.id},
                            class: "form-inline-link" %>
  </td>
  <td class="text-center align-middle">
    <%= link_to t('.delete'), admin_test_path(test),
                              method: :delete,
                              data: { confirm: t('.confirmation')} %>
  </td>
</tr>