<div class="mt-2 row justify-content-center">
  <div class="col col-md-6">
    <h4>
      <%= t('.header') %>      
    </h4>
    <%= render 'shared/errors', resource: @test %>
    <table class="table table-striped table-sm table-borderless">
      <thead class="thead-dark">
        <th scope="col" class="pl-2 sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th scope="col" class="text-center">
          <%= t('.category') %>
        </th>
        <th scope="col" class="text-center">
          <%= t('.level') %>
        </th>
        <th scope="col" class="text-center">
          <%= t('.questions') %>
        </th>
        <th colspan="3" scope="col" class="text-center">
          <%= t('.actions') %>
        </th>
      </thead>
      <tbody class="table-hover">
        <%= render @tests %>
      </tbody>
    </table>
    <%= link_to t('.create_test'), new_admin_test_path %>
  </div>
</div>