<h3><%= t('.header') %></h3>
<table>
  <tr>
    <td>
      <b><%= t('.title') %></b>
    </td>
    <td>
      <b><%= t('.level') %></b>
    </td>
    <td>
      <b><%= t('.questions') %></b>
    </td>
    <td>
      <center><b><%= t('.actions') %></b></center>
    </td>
    <%= render @tests %>
</table>
